<section>
    @if (isLoggedIn()){
        Ruta / Ruta
    } @else {
        <div class="logo cursor-pointer noselect" routerLink="/">
            <img src="/logos/logo.svg" alt="" height="25">
            <div>
                ontable
            </div>
        </div>
        <nav>
            <a class="nav-item">Servicios</a>
            <a class="nav-item">PUC</a>
            <a class="nav-item">Bloc</a>
        </nav>
    }
</section>
<div class="access">
    @if (isLoggedIn()){
        <div class="session-info" (click)="open()" [class.company-show]="companyShow()">
            <div class="company">
                INVERSIONES LA CASA IMPERIAL S.A.S. ZOMAC
            </div>
            <div class="user">
                {{user()}}
            </div>
        </div>
    } @else {
        <button nz-button>
            <div class="icon">
                <i class="fa-solid fa-moon"></i>
            </div>
        </button>
        <button nz-button routerLink="/login">Iniciar sesión</button>
    }
</div>