<section>
    <button nz-button (click)="onClickRegister()">Agregar nueva cuenta</button>
</section>

<section>
    <ul nz-list nzSize="small">
        @for (item of accounts(); track $index) {
            <li nz-list-item>
                <div style="display: grid; grid-template-columns: 6em 1fr auto; line-height: 1.2em; align-items: center; width: 100%;">
                    <div>
                        {{item.code}}
                    </div>
                    <div>
                        {{item.name}}
                    </div>
                </div>
                <ul nz-list-item-actions>
                    <nz-list-item-action>
                        <a (click)="item.edit()">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </nz-list-item-action>
                </ul>
            </li>
        }
    </ul>

</section>
