<nz-card nzBordered nzHoverable>
    <div class="card-conten">
        <h3>Activos</h3>
        <div>
            Total: <strong>$ 0,00</strong>
        </div>
        <button nz-button routerLink="activos">Ver mas</button>
    </div>
</nz-card>
<nz-card nzHoverable>
    <div class="card-conten">
        <h3>Productos y servicios</h3>
        <div>
            Total: <strong>$ 0,00</strong>
        </div>
        <button nz-button routerLink="productos-y-servicios">Ver mas</button>
    </div>
</nz-card>