<header>
    <app-header-content/>
    <!-- <app-breadcrumbs class="breadcrumbs-container"/>
    <app-nav-header class="nav-container"/>
    <app-panel-access/> -->
</header>
<aside>
    <app-nav-lateral/>
</aside>

<section class="page-container">
    <div class="page-content">

    </div>
</section>

<footer>
    <div style="display: flex; align-items: center; column-gap: .5em;">
        <img src="/logos/novah.svg" alt="Novah.dev" height="20">
        <div>
            Novah.dev
        </div>
    </div>
</footer>