:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr auto;
    grid-template-areas: "header" "page" "footer";
    height: 100%;
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr auto;
        padding: .5em 1em .5em .5em;
        border-bottom: var(--app-header-border-bottom);
        .breadcrumbs-container {
            display: none;
        }
        .nav-container {
            display: block;
        }
    }
    
    aside {
        grid-area: aside;
        background-color: var(--app-layout-aside-background-color);
        display: none;
    }
    
    .page-container {
        grid-area: page;
        overflow: auto;
        .page-content {
            padding: 1em;
            overflow: auto;
        }
    }
    
    footer {
        grid-area: footer;
        background-color: var(--app-layout-footer-background-color);
        color: var(--app-layout-footer-color);
        padding: .5em 1em;
    }

    &.logged-in {
        grid-template-columns: 15em 1fr;
        grid-template-areas: "aside header" "aside page" "footer footer";
        header {
            .breadcrumbs-container {
                display: block;
            }
            .nav-container {
                display: none;
            }
        }
        aside {
            display: grid;
            grid-template-rows: 50px 1fr;
        }
    }
   

   
}

