<section class="panel-control">
    <input nz-input placeholder="Buscar empresa">
    <div class="buttons">
        <button nz-button (click)="onClickRegisterCompany()">Registrar empresa</button>
        <button nz-button>Actualizar lista</button>
    </div>
</section>

<nz-list nzSize="small">
    @for (company of companies(); track $index) {
        <nz-list-item>
            <div class="company-info">
                <div class="icon">
                    <i class="fa-solid fa-building" [classList]="company.taxpayerType == 'legal' ? 'fa-solid fa-building' : 'fa-solid fa-user-tie'"></i>
                </div>
                <div class="info">
                    <div class="name">
                        {{company.accountName}}
                    </div>
                    <div class="nit">
                        {{company.nit | number}}
                    </div>
                </div>
                <div>
                    <button nz-button nzType="text" (click)="company.previewModal()">Ver mas</button>
                </div>
            </div>
        </nz-list-item>
    }
</nz-list>