<section>
    <div class="module">
        Contabilidad
    </div>
    <ul>
        <li>

        </li>
    </ul>
</section>
<section>
    <ul>
        <li class="item">
            <div class="icon">
                <i class="fa-solid fa-building"></i>
            </div>
            <div class="name">
                Empresas
            </div>
        </li>
        <li class="item">
            <div class="icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="name">
                Usuarios
            </div>
        </li>
        <li class="item">
            <div class="icon">
                <i class="fa-solid fa-database"></i>
            </div>
            <div class="name">
                Datos
            </div>
        </li>
        <li class="item">
            <div class="icon">
                <i class="fa-solid fa-moon"></i>
            </div>
            <div class="name">
                Tema
            </div>
        </li>
    </ul>
</section>